.buttonPossition {
    max-width: 250px;
    margin: 50px auto;
}

.buttonPossition__button {
    background-color: #cc0000;
    border-radius: 15px;
    padding: 25px;
    font-weight: bold;
    text-align: center;
}
