.secretRoom {
    margin-top: 60px;
    text-align: center;
}
.secretRoom__buttonSecret {
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    color: #cc0000;
    border-radius: 12px;
}
.secretRoom__destroyButton {
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    color: #cc0000;
    border-radius: 20px;
}
